@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --dark-color:linear-gradient(135deg, #2c2c2c, #4d4d4d);
    --light-color: linear-gradient(135deg, #797979, #b6b6b6);
    --menu-color: #444444;
    --background-color: #2e362e;
    --on-color: #979797;
    --handicap: #BACC81;
    --wrong-click: #cc8181;
    --boards-color: #444444;
    --board-color: #cccccc;
    --overboard: #BACC81;
    --menu-div-color: #222222;
}

select:active {
    background: red;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-weight: 1000;
}

#page {
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#over_board {
    /* background: red; */
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 10vh;
    color: var(--overboard);
    caret-color: transparent;
    pointer-events: none;
    margin-left: 50%;
    left: -75px;
}

#left_board, #scoreboard {
    background: var(--boards-color);
    color: var(--menu-color);
    height: 100vh;
    width: 20%;
    /* border-radius: 1em; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    caret-color: transparent;
    /* justify-content: space-evenly; */
}

#left_board p {
    background: var(--on-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
}

#left_board span {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    font-size: 4vh;
    text-align: center;
    /* background: red; */
}

#color_label, #notation_label, #handicap_label, #time_label, #custom_board_label{
    margin-top: 2.4vh;
    font-size: 3vh;
    color: var(--on-color);
}

#color_label {
    margin-top: 1.5vh;
}

#colors, #notations, #handicaps, #times {
    height: 2em;
    width: 90%;
    margin: .5em;
    padding: .2em;
    padding-left: .75em;
    font-size: 1.5vh;
    background: var(--on-color);
    border-radius: .5em;
    color: var(--dark-color);
    font-weight: 550;
}

#custom_board_wrapper {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: red; */
    width: 85%;
    height: 25%;
}

#custom_letters, #custom_numbers {
    width: 40%;
    font-size: 2vh;
    padding: 1em;
    text-align: center;
    overflow: hidden;
    border: none;
    background: var(--on-color);
    border-radius: .5em;
}

#custom_buttons {
    width: 85%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#custom_buttons_left, #custom_buttons_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom_button_class {
    margin-top: 1.5vh;
    font-size: 2vh;
    color: var(--dark-color);
    background: var(--on-color);
    border-radius: .5em;
}

#board {
    aspect-ratio: 1;
    height: 92%;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    border-radius: 2em;
    color: var(--board-color);
    /* border: 2px solid black; */
}

#board div {
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    caret-color: transparent;
}

#board div span {
    caret-color: transparent;
    pointer-events: none;
}

.light_color {
    /* border: 1px solid black; */
    background: var(--light-color);
    color: var(--dark-color);
}

.dark_color {
    /* border: 1px solid black; */
    background: var(--dark-color);
    color: var(--light-color);
}

.squareOn {
    box-shadow: inset 0 0 1em .1em var(--handicap);
}

#top_score {
    /* background-color: red; */
    height: 21%;
}

#time_block {
    background-color: var(--on-color);
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: var(--dark-color);
}

#score {
    width: 20vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    background: var(--boards-color);
    color: var(--on-color);
}

#random-square {
    height: 1%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background: var(--boards-color);
    color: var(--on-color);
    /* background: blue; */
    font-size: 5vh;
    border-bottom: 1px solid white;
}

#score_log {
    /* background: red; */
    height: 50%;
    width: 100%;
}

#buttons {
    background: var(--menu-color);
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start, #stop, #reset {
    height: 6vh;
    width: 90%;
    border-radius: .5em;
    font-size: 3vh;
    background: var(--on-color);
    color: var(--dark-color);
}

#start:hover, #stop:hover, #reset:hover {
    cursor: pointer;
}

.start_on {
    pointer-events:none;
    opacity: 70%;
}

#stop, #reset {
    margin-top: .5em;
}

#menu_blank_page {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#menu_board {
    display: none;
}

#menu_button {
    display: none;
}

#ghost_div {
    display: none;
}

#ghost_div_bottom {
    display: none;
}

#score_ghost {
    display: none;
}

.clickRight {
    box-shadow: inset 0 0 1em .1em var(--handicap);
}

.clickWrong {
    box-shadow: inset 0 0 1em .1em var(--wrong-click);
}

@media only screen and (max-width: 1440px) {
    /* #page {

    } */
    /* board {
        margin-left: 7vw;
    } */
    #top_score {
        /* background: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #scoreboard {
        width: 250px;
        overflow: hidden;
    }
    #score {
        width: 100%;
    }
    #time_block {
        width: 100%;
        margin: 0;
    }
    #over_board {
        left: -152px;
    }
    #ghost_div {
        display: flex;
        width: 100px;
    }
    #left_board {
        display: none;
        width: 40%;
        position: absolute;
        border-left: 2px solid black;
        margin-left: 7%;
        z-index: 10;
    }
    .menu_open {
        display: flex;
    }
    #menu_blank_page {
        display: none;
        width: 93vw;
        height: 100vh;
        position: absolute;
        margin-left: 7vw;
        background: rgba(0, 0, 0, 0.5);
    }    
    #menu_board  {
        height: 100vh;
        width: 100px;
        margin-left: 0;
        background: var(--menu-div-color);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        top: 0;
    }
    #menu_button {
        height: 2.1em;
        width: 2.4em;
        /* background: white; */
        margin-top: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #menu_button:hover {
        cursor: pointer;
    }
    #menu_button div {
        height: .3em;
        width: 100%;
        background: white;
        pointer-events: none;
    }
}

@media only screen and (max-width: 1024px) and (min-height: 550px) {
    #over_board {
        left: -160px;
    }
    #board {
        width: 70%;
        max-height: 92%;
        height: auto;
        aspect-ratio: 1;
    }
    #menu_board {
        width: 100px;
    }
    #ghost_div {
        width: 100px;
        height: 100vh;
    }
    #ghost_div_bottom {
        width: 2vw;
        height: 12em;
        display: flex;
    }
}

@media only screen and (max-width: 920px) and (min-height: 550px) {
    #over_board {
        display: none;
    }
    #page {
        flex-direction: column;
    }
    #ghost_div {
        display: flex;
        height: 90px;
    }
    #left_board {
        display: none;
        margin: 0;
        margin-top: 90px;
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 10;
        flex-direction: column;
        overflow: scroll;
    }
    #board {
        width: 33em;
        max-height: 92%;
        height: auto;
        aspect-ratio: 1;
        margin: 1em;
    }
    #menu_board {
        width: 100vw;
        height: 90px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    #menu_button {
        margin: 0;
        margin-left: 2.5em;
        height: 1.8em;
        width: 2em;
    }
    #menu_blank_page {
        width: 0;
        height: 0;
    }
    #scoreboard {
        width: 100vw;
        height: 250px;
        flex-direction: row;
        background: var(--menu-div-color);
        align-items: center;
        justify-content: space-between;
    }
    #top_score {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #time_block {
        background-color: var(--on-color);
        flex-direction: column;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vh;
        color: var(--dark-color);
    }
    
    #score {
        height: 90px;
        width: 60%;
        background-color: var(--menu-div-color);
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #random-square {
        height: 1%;
        width: 2%;
        background-color: var(--menu-div-color);

    }
    
    #score_log {
        display: none;
    }
    
    #buttons {
        width: 30%;
        background-color: var(--menu-div-color);
        height: 90%;
    }
    
    #start, #stop, #reset {
        height: 25%;
    }

    #ghost_div_bottom {
        height: 0;
        width: 100vw;
        display: flex;
    }
}

@media only screen and (max-width:540px) {
    #board {
        width: 98%;
    }
    #menu_button {
        margin-left: 1.5em;
    }
    #score {
        width: 70%;
        font-size: 20px;
    }
    #left_board {
        height: 100vh;
    }
}

@media only screen and (min-width: 750px) and (max-width: 920px) and (min-height: 1100px) and (max-height: 1400px) {
    #board{
        width: 96vw;
    }
    #scoreboard {
        height: 250px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) and (min-height: 750px) and (max-height: 1050px) {
    #board{
        width: 90vw;
        height: auto;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) and (min-height: 700px) and (max-height: 800px) {
    #board{
        width: 88vw;
        height: auto;
    }
    #scoreboard {
        height: 140px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) and (min-height: 550px) and (max-height: 650px) {
    #board{
        width: auto;
        height: 98vh;
        max-height: 96vh;
    }
    #scoreboard {
        height: 100vh;
    }
    #ghost_div {
        width: 8vw;
    }
}

@media only screen and (min-width: 370px) and (max-width: 380px) and (min-height: 660px) and (max-height: 680px) {
    #ghost_div {
        height: 95px;
    }
    #board {
        width: 95%;
    }
}

@media only screen and (max-width: 730px) and (min-height: 300px) and (max-height: 560px) {
    #ghost_div {
        height: 100vh;
        width: 50px;
    }
    #menu_board {
        width: 50px;
    }
    #menu_button  {
        height: 1.2em;
        width: 1.4em;
        /* background: white; */
        margin-top: 1.5em;
    }
    #menu_button div {
        height: 16%;
    }
    #board {
        width: auto;
        height: 95%;
    }
    #scoreboard {
        width: 150px;
    }
    #score {
        font-size: 1em;
    }
}

@media only screen and (width: 720px) and (height: 540px) {
    #board {
        height: 90%;
    }
}

@media only screen and (width: 1024px) and (height: 768px) {
    #board {
        height: 85%;
        width: auto;
    }
}