@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --dark-color:linear-gradient(135deg, #2c2c2c, #4d4d4d);
    --light-color: linear-gradient(135deg, #797979, #b6b6b6);
    --menu-color: #444444;
    --background-color: #2e362e;
    --on-color: #979797;
    --handicap: #BACC81;
    --wrong-click: #cc8181;
    --boards-color: #444444;
    --board-color: #cccccc;
    --overboard: #BACC81;
    --menu-div-color: #222222;
}

select:active {
    background: red;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-weight: 1000;
}

#page {
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#over_board {
    /* background: red; */
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 10vh;
    color: var(--overboard);
    caret-color: transparent;
    pointer-events: none;
    margin-left: 50%;
    left: -75px;
}

#left_board, #scoreboard {
    background: var(--boards-color);
    color: var(--menu-color);
    height: 100vh;
    width: 20%;
    /* border-radius: 1em; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    caret-color: transparent;
    /* justify-content: space-evenly; */
}

#left_board p {
    background: var(--on-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
}

#left_board span {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    font-size: 4vh;
    text-align: center;
    /* background: red; */
}

#color_label, #notation_label, #handicap_label, #time_label, #custom_board_label{
    margin-top: 2.4vh;
    font-size: 3vh;
    color: var(--on-color);
}

#color_label {
    margin-top: 1.5vh;
}

#colors, #notations, #handicaps, #times {
    height: 2em;
    width: 90%;
    margin: .5em;
    padding: .2em;
    padding-left: .75em;
    font-size: 1.5vh;
    background: var(--on-color);
    border-radius: .5em;
    color: var(--dark-color);
    font-weight: 550;
}

#custom_board_wrapper {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: red; */
    width: 85%;
    height: 25%;
}

#custom_letters, #custom_numbers {
    width: 40%;
    font-size: 2vh;
    padding: 1em;
    text-align: center;
    overflow: hidden;
    border: none;
    background: var(--on-color);
    border-radius: .5em;
}

#custom_buttons {
    width: 85%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#custom_buttons_left, #custom_buttons_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom_button_class {
    margin-top: 1.5vh;
    font-size: 2vh;
    color: var(--dark-color);
    background: var(--on-color);
    border-radius: .5em;
}

#board {
    aspect-ratio: 1;
    height: 92%;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    border-radius: 2em;
    color: var(--board-color);
    /* border: 2px solid black; */
}

#board div {
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    caret-color: transparent;
}

#board div span {
    caret-color: transparent;
    pointer-events: none;
}

.light_color {
    /* border: 1px solid black; */
    background: var(--light-color);
    color: var(--dark-color);
}

.dark_color {
    /* border: 1px solid black; */
    background: var(--dark-color);
    color: var(--light-color);
}

.squareOn {
    box-shadow: inset 0 0 1em .1em var(--handicap);
}

#top_score {
    /* background-color: red; */
    height: 21%;
}

#time_block {
    background-color: var(--on-color);
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: var(--dark-color);
}

#score {
    width: 20vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    background: var(--boards-color);
    color: var(--on-color);
}

#right {
    color: var(--handicap);
}

#wrong {
    color: var(--wrong-click);
}

#random-square {
    height: 1%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background: var(--boards-color);
    color: var(--on-color);
    /* background: blue; */
    font-size: 5vh;
    border-bottom: 1px solid white;
}

#score_log_wrapper {
    /* background: blue; */
    overflow: hidden;
    color: var(--on-color);
    height: 50%;
    width: 90%;
    font-size: 1.4em;
}

#score_log {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* background: red; */
}

.click_wrong_score {
    color: var(--wrong-click);
    margin-right: .4vw;
    margin-top: .5em;;
}

.click_right_score {
    color: var(--handicap);
    margin-right: .4vw;
    margin-top: .5em;
}

#buttons {
    background: var(--menu-color);
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start, #stop, #reset {
    height: 6vh;
    width: 90%;
    border-radius: .5em;
    font-size: 3vh;
    background: var(--on-color);
    color: var(--dark-color);
}

#start:hover, #stop:hover, #reset:hover {
    cursor: pointer;
}

.start_on {
    pointer-events:none;
    opacity: 70%;
}

#stop, #reset {
    margin-top: .5em;
}

#menu_blank_page {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#menu_board {
    display: none;
}

#menu_button {
    display: none;
}

#ghost_div {
    display: none;
}

#ghost_div_bottom {
    display: none;
}

#score_ghost {
    display: none;
}

.click_right {
    box-shadow: inset 0 0 1em .1em var(--handicap);
}

.click_wrong {
    box-shadow: inset 0 0 1em .1em var(--wrong-click);
}